html {
  height: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'Interstate';
    src: url('../fonts/Interstate-Light-Geo.woff2') format('woff2'),
        url('../fonts/Interstate-Light-Geo.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate bold';
    src: url('../fonts/Interstate-Bold-Geo.woff2') format('woff2'),
        url('../fonts/Interstate-Bold-Geo.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
  background: #F9F9FA;
  margin: 0;
  width: 100%;
  height: 100%;
font-family: 'Interstate';
}


/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {

 background-color: #C9C9C9;
}

::-webkit-scrollbar-thumb {
  background: #0F4233; 
 
}


.book_outsite_text_last {
  visibility: hidden;
  opacity: 0;
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.book_outsite_text_last.shadow {
  visibility: visible;
  opacity: 1;
}
.book_outsite_text p, .book_outsite_text_last p{

    margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}
h1,h2,h3,h4 {
      text-align: center;
    font-family: 'Interstate bold';
    margin-bottom: 10px;
}
.book_outsite_text h2, .book_outsite_text_last h2{
  font-size: 14px;
    font-family: 'Interstate bold';
    margin-bottom: 5px;

}

.content_list li {

  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.content_list li span {
  position: relative;
  z-index: 100;
  background-color: #fff;
  
}
.copyright {

 
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  
}

.copyright a {
  text-decoration: none;
  color: #2C3E50;
   font-size: 14px;
     font-family: 'Interstate bold';
}

.bold {
    font-family: 'Interstate bold';
}
.text_left {
  text-align: left;
}

.content_list {
  margin-top: 30px;
  height: calc(100% - 70px);
    overflow-y: scroll;
    padding-right: 10px;
}
.content_list li span:first-child {
      padding: 5px 17px 5px 0px;
}
.content_list li span:last-child {
          padding: 5px 4px 5px 15px;
}
.content_list li .line {
 position: absolute;
    z-index: 10;
    border-top: 1px #000 dashed;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;

}

.book_link {
 background-color: #0F4233;
    border-radius: 10px;
    padding: 14px 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}

.book_outsite_text_last  .book_link {
  border-radius: 35px;
}

.book_link svg{

  margin-right: 10px;
}
.book_outsite_text, .book_outsite_text_last {
     padding: 10px 56px 10px 30px;
      transition: all 1s;
}




.main_fluid {
  max-width: 900px;
  margin: 0 auto;
  /* padding: 2.5%; */
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 20px;
}
.scene {
        width: 50%;
        flex: 0 0 50%;
        height: 80vh;
        margin: 0% 0% 0% 0%;
        perspective: 3000px;
        transition: 1s;
        height: calc(100vh - 118px);
}

.scene.activer {
      margin: 0% 0% 0% 49.9%;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}


.book .page:first-child .front {
  background: url("../images/front.jpg");
  background-size: cover;
  background-position: center center;
}

.main_fluid {
  position: relative;
}


.scene.fix .page {
  display: none;
}
.scene.fix .page.active {
  z-index: 1000;
  display: block;
}
.scene.fix .page.flipped {
  display: block;
  transform: rotateY(-180deg);
}
.scene.fix .page.active .back {
  display: none;
}

.content_list li {
  cursor: pointer;
}

.page {
 
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  transition: 1.5s transform;
  transform-style: preserve-3d;
  transform-origin: left center;
}
.front,
.back {
  position: absolute;

  width: 100%;
  height: 100%;

  box-sizing: border-box;

  backface-visibility: hidden;
/*  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: linear-gradient(to bottom right, #fff, #ccc);*/
  background-color: #fff;
  z-index: 1;
}
.front {
  padding: 10% 20px 20px;

}

/*.active .front {
    z-index: 5;
}*/
.back {

  transform: rotateY(180deg);
}

/*.page {
  display: none;
}*/
.page.active {
  z-index: 1000;
  /*display: block;*/
}
.page.flipped {
  /*display: block;*/
  transform: rotateY(-180deg);
}
/*.page.active .back {
  display: none;
}
*/
.page:nth-child(1){
 z-index: 25;
}.page:nth-child(2){
 z-index: 24;
}.page:nth-child(3){
 z-index: 23;
}.page:nth-child(4){
 z-index: 22;
}.page:nth-child(5){
 z-index: 21;
}.page:nth-child(6){
 z-index: 20;
}.page:nth-child(7){
 z-index: 19;
}.page:nth-child(8){
 z-index: 18;
}
.page.flipped {
  z-index: 100;
}
.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


.main_fluid {
  position: relative;
  /* background: red; */
}
.left_dot, .right_dot,.share_dot {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  border-radius: 50%;
  border:1px solid #C9C9C9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  /* position: absolute; */
  bottom: -30px;
  z-index: 10;
  user-select: none;

}


.left_dot {
  /* left: 50%; */
  /* transform: translateX(-75%); */
}

.right_dot {
  /* left: 50%; */
  /* transform: translateX(75%); */
}
.right_dot.flipped {
  visibility: visible;
  opacity: 1;
}

.left_dot.flipped {
  visibility: visible;
  opacity: 1;

}

.share_dot.flipped {
  visibility: visible;
  opacity: 1;

}


.book .page:first-child .front:after {

  content:" ";
  width: 5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
background-image: linear-gradient(to left, rgb(0 0 0 / 20%) , rgba(0,0,0,0));
    


}
.book .page:first-child .front:before {
    content: " ";
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 22px;
    background-image: linear-gradient(to right, rgb(0 0 0 / 37%) , rgba(0,0,0,0));
    
}

.book .page:last-child .back:after {content:" ";width: 25px;height: 100%;position: absolute;top: 0;right: 1px;background-image: linear-gradient(to left, rgb(0 0 0 / 31%) , rgba(0,0,0,0));opacity: 1;}
.book .page:last-child .back:before {
    content: " ";
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 22px;
    background-image: linear-gradient(to right, rgb(0 0 0 / 21%) , rgba(0,0,0,0));
}


.page .back img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media only screen and (min-height:800px) {
 .scene {
  height: 600px;
 }
}
.main_fluid:after {
  position: relative;
  width: 100%;
  height: 63px;
  content: "";
  background-image: url("../images/shadow.png");
  position: absolute;
  bottom: 13px;
  left: 50%;
  z-index: -1;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  opacity: 0;

}
.main_fluid.shadow:after {
  opacity: 1;
  transition: all 1s;
}

.book_bottom_button {
  position: absolute;
  border: 1px solid #C9C9C9;
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -35px;
  display: flex;
  background: #fff;
  padding: 6px;
  opacity: 0;
  visibility: hidden;
} 
.book_bottom_button.flipped2 {
  opacity: 1;
  visibility: visible;
}

.book_bottom_button div:not(:last-child){
  margin-right: 10px;
}
.book_bottom_button div {
  transition: all .4s;
}



.m_list {
  margin-left: 30px;
}

.right_info {
  overflow-y: auto;
  padding-right: 10px;
  height: 100%;
  overflow-x: hidden;
}


.front:after {
content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 100%;
    background-image: url(../images/shadow_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    opacity: 0.8;
}

.back:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 85px;
    height: 100%;
    background-image: url(../images/shadow_left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    opacity: 0.8;
}

.book .page:nth-child(2) .front:after,
.book .page:nth-child(2) .back:after {
  content: unset;
}
p,ul,li,span {
  font-size: 14px;
}

h2 {
  font-size: 18px;
}


@media only screen and (max-width:950px) {
 .main_fluid {
  padding: 0 10px;
 }

 .book_bottom_button {
  bottom: -80px;
 }
}

@media only screen and (max-width:750px) {
  .book_link {
    padding: 19px 40px;
    margin-top: 10px;
    }

    html {
      overflow: unset;
    }

}



@media only screen and (max-width:650px) {

  .copyright {
     position: unset;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 15px;
}
  .book_link {
    padding: 19px 40px;
    margin-top: 10px;
    }

     html {
      overflow: unset;
    }

    .book_outsite_text, .book_outsite_text_last {
    padding: 10px 0px 10px 10px;
    transition: all 1s;
}

    .main_fluid {
      flex-direction: column;
    }

    .scene {
      height: 340px;
    }

    .main_fluid:after {
      content: unset;
    }

    .scene {
      width: 90%;
      flex:0 0 90%;

    max-width: 238px;

    }

    .scene.activer {
      width: 50%;
      flex:0 0 50%;
      max-width: 100%;
    }

   .book_outsite_text_last .book_link {
    padding: 18px 19px;
    margin-top: 10px;
    display: flex;
  }

  .content_list li {
    align-items: center;
  }

  .book_outsite_text_last {
    position: unset;
    transform:translateY(0);
    display: none;
  }

  .book_outsite_text_last.shadow {
    display: block;
  }
  .book_bottom_button {
    position: unset;
    margin-top: 20px;
    transform: translate(0);
    display: none;
  }
  .book_bottom_button.flipped2 {
    display: flex !important;
  }
}
.book_bottom_button.flipped2 {
    display: flex !important;
  }

@media only screen and (max-width:400px) {


.front:after {
  width: 35px;
}
.m_list {
    margin-left: 15px;
}
h2 {
    font-size: 14px;
}
p, ul, li, span {
    font-size: 12px;
}
.content_list {
    margin-top: 15px;
    height: calc(100% - 40px);
    overflow-y: scroll;
    padding-right: 10px;
}
  .content_list li span {
    font-size: 10px;
  }
  .content_list li span:first-child {
    padding: 3px 5px 5px 0px;
}

  .front {
    padding: 10px 5px 10px;
}
  .scene {
      height: 270px;
  }

  .scene.activer {
      height: 240px;
  }
}

p {
  text-indent: 13px;
}

.right_info p {
  margin-bottom: 0;
}

.share_dot {
  position: relative;
  bottom: unset;
  overflow:hidden;
}

.fb-share-button {
  position: absolute !important;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.0000000000001;
    z-index: 1000;
}

.last_share {
  
    margin-top: 20px;
    border: 1px solid #C9C9C9;
    border-radius: 36px;
    display: flex;
    background: #fff;
    padding: 5px;
    max-width: 124px;
    align-items: center;
    position: relative;
}

.last_share span {
  margin-left: 10px;
}

.fb-share-button.last{
  left: 42px !important;
}
