html {
  height: 100%;
  overflow: hidden;
}

@font-face {
    font-family: 'Interstate bold';
    src: url('../fonts/Interstate-Bold.woff2') format('woff2'),
        url('../fonts/Interstate-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('../fonts/Interstate-Regular.woff2') format('woff2'),
        url('../fonts/Interstate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate light';
    src: url('../fonts/Interstate-Light.woff2') format('woff2'),
        url('../fonts/Interstate-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


body {
  background: #F9F9FA;
  margin: 0;
  width: 100%;
  height: 100%;
   font-family: 'Interstate';
}

h1 {
  text-align: center;
}

.book_outsite_text h2{
  font-size: 14px;
    font-family: 'Interstate bold';

}

.book_link {
 background-color: #0F4233;
    border-radius: 5px;
    padding: 14px 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.book_link svg{

  margin-right: 10px;
}
.book_outsite_text {
  padding: 10px 30px;
}

.book_outsite_text {
  transition: all 1s;
}


.main_fluid {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2.5%;
  display: flex;
  align-items: center;
}
.scene {
        width: 450px;
    flex: 0 0 450px;
    height: 80vh;
    margin: 0% 0% 0% 0%;
    perspective: 3000px;
    transition: 1s;
}

.scene.activer {
   margin: 0% 0% 0% 50%;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}


.book .page:first-child .front {
  background: url("../images/front.jpg");
  background-size: cover;
  background-position: center center;
}

.main_fluid {
  position: relative;
}

.page {
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;

  transition: 1.5s transform;
  transform-style: preserve-3d;
  transform-origin: left center;
}
.front,
.back {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 10% 5% 5%;
  box-sizing: border-box;

  backface-visibility: hidden;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: linear-gradient(to bottom right, #fff, #ccc);
}
.back {
  transform: rotateY(180deg);
}

.page.active {
  z-index: 1;
}
.page.flipped {
  transform: rotateY(-180deg);
}
.page.flipped:last-of-type {
  z-index: 1;
}



.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


.main_fluid {
  position: relative;
}
.left_dot, .right_dot {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
  border-radius: 50%;
  border:1px solid #C9C9C9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  z-index: 10;
  
 visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.left_dot {
  left: 50%;
  transform: translateX(-75%);
}

.right_dot {
  left: 50%;
  transform: translateX(75%);
}
.right_dot.flipped {
  visibility: visible;
  opacity: 1;

}

.left_dot.flipped {
  visibility: visible;
  opacity: 1;

}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
}
