html {
  height: 100%;
  overflow: hidden;
}
body {
  background: #F9F9FA;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

.main_fluid {
  max-width: 1170px;
  margin: 0 auto;
  padding: 5%;
  display: flex;
  align-items: center;
}
.scene {
      width: 450px;
      flex:0 0 450px;
    height: 85vh;
    /*margin: 2% 5% 5% 50%;*/
    perspective: 3000px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
}


.book .page:first-child .front {
  background: url("../images/front.jpg");
  background-size: cover;
  background-position: center center;
}

.main_fluid {
  position: relative;
}
.right_dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  right: 10%;
  color: #fff;
  font-size: 30px;

}
.page {
  cursor: pointer;
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;

  transition: 1.5s transform;
  transform-style: preserve-3d;
  transform-origin: left center;
}
.front,
.back {
  position: absolute;

  width: 100%;
  height: 100%;
  padding: 10% 5% 5%;
  box-sizing: border-box;

  backface-visibility: hidden;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
  background: linear-gradient(to bottom right, #fff, #ccc);
}
.back {
  transform: rotateY(180deg);
}

.page.active {
  z-index: 1;
}
.page.flipped {
  transform: rotateY(-180deg);
}
.page.flipped:last-of-type {
  z-index: 1;
}

p {
  text-indent: 1em;
  line-height: 1.7;
}

.qr {
  margin: 50px auto;
  max-width: 50%;
}
.qr img {
  display: block;
}


/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .scene {
    width: 90%;
    height: 90%;
    margin: 5%;
}
